{% include 'top.html' %}
<div class="content">
    <div class="container details"></div>

        <h2 class="title"> Add Inventory </h2>

        <form class="login" method="POST" action="{{url_for('add_inventory')}}" enctype="multipart/form-data">

            Inventory Name: <input type="text" name="inventoryname" value="" placeholder="Barang" autofocus>
            <br/>
            Quantity: <input type="number" name="quantity" value="0" placeholder="Total Stock" autofocus>
            <br/>
            Unit: 
            <select name="description">
                <option value="Karton">Karton</option>
                <option value="Gross">Gross</option>
                <option value="Lusin">Lusin</option>
                <option value="Pack">Pack</option>
                <option value="Pcs">Pcs</option>
            </select>
            <br/>

            <br/>
            <br/>

            Picture: <input type="file" name="picture" autofocus>
            <br/>
            <button class="flat" type="submit">Add</button>
            <br/>
            
        </form>
        <form class="login" action="{{url_for('list_inventories')}}">
            <button class="flat" type="submit">Back</button>
        </form>

        

        <br/>
        <div>

    </div>
</div>
{% include 'bottom.html'%}