{% include 'top.html' %}
<div class="content">
  <div class="container details">
    <!-- Check if We have a valid inventory -->
    {% if inventory %}
    <h2 class="title">{{inventory[0].inventoryname}}</h2>
    
    <br />
    inventory stock has {{inventory[0].quantity}} {{ inventory[0].description }} left.
    <br />
    <a class="pure-button" href="{{ url_for('edit', inventory_id=inventory[0].inventory_id) }}">Edit</a>
    <a class="pure-button" href="{{ url_for('remove_inventory', inventory_id=inventory[0].inventory_id) }}">Remove</a>
    <hr />
    <h3>Artworks</h3>
    <br />

    {% else %}
    <h2 class="title">Invalid Inventory ID</h2>
    {% endif %}
  </div>
</div>
{% include 'bottom.html'%}
