{% include 'top.html' %}
<div class="content">
    <div class="container details"></div>

        <h2 class="title"> Edit Inventory </h2>

        <form class="login" method="POST" action="{{ url_for('edit', inventory_id=inventory[0].inventory_id) }}">

            Inventory Name: <input type="text" name="inventoryname" value="{{ inventory[0].inventoryname }}" placeholder="Barang" autofocus required>
            <br/>
            Quantity: <input type="number" name="quantity" value="{{ inventory[0].quantity }}" placeholder="Total Stock" autofocus required>
            <br/>
            Unit: 
            <select name="description">
                <option value="Karton">Karton</option>
                <option value="Lusin">Lusin</option>
                <option value="Pcs">Pack</option>
                <option value="Pack">Pcs</option>
            </select>
            <br/>
            <button class="flat" type="submit">Edit</button>
            <br/>
            
        </form>
        <br/>
        <div>

    </div>
</div>
{% include 'bottom.html'%}