{% include 'top.html' %}
<div class="content">
  <div class="container details">
    <h1 class="title">Welcome, {{ user['username'] }}</h1>
    <hr />
    <div>
      <h2 class="containertitle">Your most recent stocked items</h2>
      <!-- User currently viewing -->
      <table class="styled">
        <thead>
          <tr>
            <td>Inventory</td>
            <td>User</td>
            <td>Total Before</td>
            <td>Stock Taken / Supplied</td>
            <td>Total Sekarang</td>
            <td>Last Updated</td>
          </tr>    
        </thead>
        <tbody>
          {% for instance in user_history %}
          <tr>
            <td style="text-align: center">{{ instance.inventoryname }}</td>
            <td>{{ instance.username }}</td>
            <td>{{ instance.stock_before }}</td>
            {% if instance.stock_taken_supplied < 0 %}
            <td bgcolor="lightcoral">OUT {{ instance.stock_taken_supplied }}</td>
            {% else %}
            <td bgcolor="lightgreen">IN + {{ instance.stock_taken_supplied }}</td>
            {% endif %}
            <td>{{ instance.stock_after }}</td>
            <td>{{ instance.lastviewed }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include 'bottom.html'%}
