<!DOCTYPE html>
<html>
    <head>
        <title>Brother System</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pure.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <div class="body-container">
            <header class="page-header">
                <div class="container">
                    <div class="title">
                        <a href="/"><span class="inner"></span></a>
                    </div>
                    <ul class="page-nav">
                        
                    </ul>
                </div>
                {% if session.logged_in %}
                    <div style="float:right">
                        <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
                        <script type="text/javascript">
                             /*list of available options*/ 
                            var n = data_name_list.length;
                            
                            function getsearchtarget()
                            {
                                //Get the select select list and store in a variable
                                var e = document.getElementById("searchtarget");

                                //Get the selected value of the select list
                                var formaction = e.options[e.selectedIndex].value;

                                //Update the form action
                                document.searchform.action = formaction;

                            }

                            
                        </script>
                        <form name="searchform" class="Search" method="POST" action="" onchange="getsearchtarget()" >

                            <input type="text" name="searchfuzzy" id="userFuzzy" list="fuzzy-suggestion"  placeholder="Search here" autofocus required>
                            <datalist id="fuzzy-suggestion">

                            </datalist>


                            <br/>

                            <select id="searchtarget" name="searchtarget">
                            </select>
                            <button type="submit">Search</button>
                        </form>

                    </div>
                {% endif %}
            </header>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% if page.bar == True %}
                        <ul class="flashes" style="background-color: #0B0">
                    {% else %}
                        <ul class="flashes" style="background-color: #B00">
                    {% endif %}
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
